@font-face {
  font-family: "iconfont"; /* Project id 4300317 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1708478275717') format('woff2'),
       url('iconfont.woff?t=1708478275717') format('woff'),
       url('iconfont.ttf?t=1708478275717') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\fae0";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-mail:before {
  content: "\e603";
}

.icon-weixin:before {
  content: "\e665";
}

.icon-github:before {
  content: "\e605";
}

.icon-mulu:before {
  content: "\e604";
}

.icon-zixun:before {
  content: "\ffcb";
}

.icon-tongzhigonggao:before {
  content: "\e6b9";
}

.icon-hezuo:before {
  content: "\e688";
}

.icon-yunhang:before {
  content: "\e68f";
}

.icon-wenjianjia:before {
  content: "\e691";
}

.icon-shangdian:before {
  content: "\e6ac";
}

.icon-gongwenbao:before {
  content: "\e6ad";
}

.icon-liuyan2:before {
  content: "\e681";
}

.icon-about:before {
  content: "\e676";
}

.icon-music:before {
  content: "\e68b";
}

.icon-movie:before {
  content: "\e602";
}

.icon-nav:before {
  content: "\ec31";
}

.icon-tag:before {
  content: "\e614";
}

.icon-categories:before {
  content: "\e633";
}

.icon-archives:before {
  content: "\ec4a";
}

